.header{
    width: 100%;
    height: 124px;
    font-weight: 500;
    color: black
}

.header__inner{
    width: 100%;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black  ;
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-list > li{
    display: inline;
    margin: 0 18px;
}

.header__phone-numbers{
    display: flex;
    gap: 16px;
}

.header__icons{
    display: flex;
    gap: 26px;
}

.header__ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.header__ico:hover{
    cursor: pointer;
}

.header__ico_black{
    background-color: black;
}

.header__ico_burger{
    display: none;
}

@media (max-width: 1376px){
    .header__inner{
        padding: 20px;
    }
}

@media (max-width: 1120px){
    .header__nav{
        display: none;
    }

    .header__ico_burger{
        display: flex;
    }
}

@media (max-width: 670px){

    .header__number-to-disable{
        display: none;
    }
}

@media (max-width: 500px){

    .header__ico_disable{
        display: none;
    }
}

@media (max-width: 400px){

    .header__phone-numbers{
        display: none;
    }
}
