*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}
/* 
div{
    border: 1px solid black;
} */

.news-case__inner{
    font-weight: 700;
    width: 100%;
}

.news-case__head{
    font-size: 65px;
    text-align: center;
    margin: 64px 0;
}

.news-case__blocks{
    display: flex;
    gap: 32px;
    color: white;
}

.news-case__block-text{
    z-index: 500;
}

.news-case__left-part{
    flex: 1;
    height: 584px;
}
.news-case__right-part{
    height: 584px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-case__bottom-blocks{
    flex: 1;
    display: flex;
    gap: 32px;
}

.news-case__block-1{
    background: url("/assets/news-case/1.png");
    width: inherit;
    height: inherit;
    font-size: 41px;
}
.news-case__block-2{
    background: url("/assets/news-case/2.png");
    font-size: 41px;
    flex: 1;
}
.news-case__block-3{   
    background: url("/assets/news-case/3.png");
    font-size: 26px;
    flex: 1;
}
.news-case__block-4{
    background: url("/assets/news-case/4.png");
    font-size: 26px;
    flex: 1;
}

.news-case__block{
    box-sizing: border-box;
    border-radius: 32px;
    position: relative;
}

.news-case__opacity-block{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: .5;
    border-radius: 32px;
}

.news-case__text-block{
    width: 95%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 64px;
    display: flex;
    align-items: flex-end;
}

/* 
.news-case__block::before{
    content:" ";
    display: block;
} */