*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}
/* 
div{
    border: 1px solid black;
} */
/* --------------------------------------------------------------- */
.news-case__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
}

.news-case__head{
    font-size: 4em;
    text-align: center;
    margin: 64px 0;
}

.news-case__blocks{
    display: flex;
    gap: 32px;
    color: white;
}


.news-case__left-part{
    flex: 1;
    height: 584px;
}
.news-case__right-part{
    height: 584px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.news-case__bottom-blocks{
    flex: 1;
    display: flex;
    gap: inherit;
}

.news-case__block-1{
    background: url("/assets/news-case/1.png");
    background-size: cover;
    background-position: center center;
    width: inherit;
    height: inherit;
    font-size: 2.5em;
}
.news-case__block-2{
    background: url("/assets/news-case/2.png");
    background-size: cover;
    background-position: center center;
    font-size: 2.5em;
    flex: 1;
}
.news-case__block-3{   
    background: url("/assets/news-case/3.png");
    background-size: cover;
    background-position: center center;
    font-size: 1.6em;
    flex: 1;
}
.news-case__block-4{
    background: url("/assets/news-case/4.png");
    background-size: cover;
    background-position: center center;
    font-size: 1.6em;
    flex: 1;
}

.news-case__block{
    box-sizing: border-box;
    border-radius: 32px;
    position: relative;
}

.news-case__opacity-block{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: .5;
    border-radius: 32px;
}

.news-case__text-block{
    width: 95%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 64px;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1376px){
    .news-case{
        padding: 20px;
    }
}

@media (max-width: 1120px){
    .news-case__text-block{
        padding: 32px;
        width: 100%;
    }

    
    .news-case__left-part{
        flex: 1;
        height: 450px;
    }

    
    .news-case__right-part{
        height: 450px;
    }

    .news-case__blocks{
        gap: 16px;
    }

}

@media (max-width: 1000px){

    .news-case__inner{
        font-size: 13px;
    }
}

@media (max-width: 840px){

    .news-case__head{
        font-size: 3em
    }

    .news-case__inner{
        font-size: 16px;
    }
    .news-case__blocks{
        flex-direction: column;
        gap: 32px;
    }


    .news-case__right-part{
        height: 730px;
        flex: none;
    }
}


@media (max-width: 640px){

    .news-case__block-4,
    .news-case__block-3{
        height: calc((100vw - 72px) / 2);
    }
    
    .news-case__block-1{
        height: calc(100vw - 40px);
    }

    .news-case__block-2{
        height: calc((100vw - 40px) / 2);
        flex: none;
    }

    .news-case__right-part{
        height: calc((100vw - 72px) + 30px);
    }
}

@media (max-width: 560px){

    .news-case__inner{
        font-size: 12px;
    }

    .news-case__blocks{
        gap: 10px;
    }

    .news-case__text-block{
        padding: 20px;
    }

    .news-case__head{
        font-size: 2.5em
    }

    
}


@media (max-width: 560px){

    .news-case__head{
        font-size: 3em;
    }

    .news-case__inner{
        font-size: 10px;
    }
}

/* -------------------------------------------------------- */

/* div{
    border: 1px solid black;
} */



.news__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    padding-bottom: 100px;
}

.news__head{
    font-size: 4em;
    text-align: center;
    margin: 168px 0 104px 0;
}

.swiper {
    height: 760px;
    margin-bottom: 100px;
    font-weight: 500;
    /*padding-right:calc(100% - 320px);*/

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #d9dbdd;
    border-radius: 0 0 32px 0px;
    width: 320px;
    justify-content: start;
    gap: 40px;
}


.swiper-slide__image {
    width:100%;
    max-width:100%;
    object-fit: contain;
}


.news__slide-text{
    font-size: 1.6em;
}

.news__swiper-navigation{
    display: flex;
    justify-content: center;
    gap: 85px;
    font-size: 16px;
    font-weight: 500;
}

.news__navigation-arrow{
    cursor: pointer;
}



@media (max-width: 1024px){

    .news__inner{
        font-size: 14px;
    }

    .swiper-slide{
        width: 300px;
    }

    .swiper{
        height: 730px;
    }
}

@media (max-width: 768px){

    .news__head{
        font-size: 3.5em;
    }

    .news__inner{
        font-size: 14px;
    }
    .swiper-slide{
        width: 284px;
    }

    .swiper{
        height: 690px;
    }

    .news__head{
        margin: 0 0 30px 0;
    }
}

@media (max-width: 450px){

    .news__head{
        font-size: 3em;
    }

    .news__inner{
        font-size: 12px;
    }

    .swiper-slide{
        width: 240px;
        gap: 20px;
    }

    .swiper{
        height: 580px;
    }

    .news__swiper-navigation{
        gap: 30px;
    }
}


/* ------------------------------------------- */

.service__inner{
    font-weight: bold;
    width: 100%;
    height: 285px;
    border-radius: 32px;
    border: 1px solid black;
    background: url("/assets/service.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 65px;
    padding: 64px;
}


@media screen and (max-width: 1376px) {
    .service{
        padding: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .service__inner{
        font-size: 41px;
    }
}

@media screen and (max-width: 620px) {
    .service__inner{
        font-size: 32px;
        padding: 24px;
    }
}

@media screen and (max-width: 420px) {
    .service__inner{
        font-size: 26px;
        padding: 24px;
    }
}


/* ------------------------------------------------- */



.case__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    padding-bottom: 100px;
}

.case__head{
    font-size: 4em;
    text-align: center;
    margin: 168px 0 104px 0;
}

.swiper {
    height: 760px;
    margin-bottom: 100px;
    font-weight: 500;
    /*padding-right:calc(100% - 320px);*/

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #d9dbdd;
    border-radius: 0 0 32px 0px;
    width: 320px;
    justify-content: start;
    gap: 40px;
}


.swiper-slide__image {
    width:100%;
    max-width:100%;
    object-fit: contain;
}


.case__slide-text{
    font-size: 1.6em;
}

.case__swiper-navigation{
    display: flex;
    justify-content: center;
    gap: 85px;
    font-size: 16px;
    font-weight: 500;
}

.case__navigation-arrow{
    cursor: pointer;
}



@media (max-width: 1024px){

    .case__inner{
        font-size: 14px;
    }

    .swiper-slide{
        width: 300px;
    }

    .swiper{
        height: 730px;
    }
}

@media (max-width: 768px){

    .case__head{
        font-size: 3.5em;
    }

    .case__inner{
        font-size: 14px;
    }
    .swiper-slide{
        width: 284px;
    }

    .swiper{
        height: 690px;
    }

    .case__head{
        margin: 0 0 30px 0;
    }
}

@media (max-width: 450px){

    .case__head{
        font-size: 3em;
    }

    .case__inner{
        font-size: 12px;
    }

    .swiper-slide{
        width: 240px;
        gap: 20px;
    }

    .swiper{
        height: 580px;
    }

    .case__swiper-navigation{
        gap: 30px;
    }
}

