*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.container{
    max-width: 1376px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* --------------------------------------------------------------- */
.news-case__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
}

.news-case__head{
    font-size: 4em;
    text-align: center;
    margin: 64px 0;
}

.news-case__blocks{
    display: flex;
    gap: 32px;
    color: white;
}


.news-case__left-part{
    flex: 1;
    height: 584px;
}
.news-case__right-part{
    height: 584px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.news-case__bottom-blocks{
    flex: 1;
    display: flex;
    gap: inherit;
}

.news-case__block-1{
    background: url("../assets/news-case/1.png");
    background-size: cover;
    background-position: center center;
    width: inherit;
    height: inherit;
    font-size: 2.5em;
}
.news-case__block-2{
    background: url("../assets/news-case/2.png");
    background-size: cover;
    background-position: center center;
    font-size: 2.5em;
    flex: 1;
}
.news-case__block-3{   
    background: url("../assets/news-case/3.png");
    background-size: cover;
    background-position: center center;
    font-size: 1.6em;
    flex: 1;
}
.news-case__block-4{
    background: url("../assets/news-case/4.png");
    background-size: cover;
    background-position: center center;
    font-size: 1.6em;
    flex: 1;
}

.news-case__block{
    box-sizing: border-box;
    border-radius: 32px;
    position: relative;
}

.news-case__opacity-block{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: .5;
    border-radius: 32px;
}

.news-case__text-block{
    width: 95%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 64px;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1376px){
    .news-case{
        padding: 20px;
    }
}

@media (max-width: 1120px){
    .news-case__text-block{
        padding: 32px;
        width: 100%;
    }

    
    .news-case__left-part{
        flex: 1;
        height: 450px;
    }

    
    .news-case__right-part{
        height: 450px;
    }

    .news-case__blocks{
        gap: 16px;
    }

}

@media (max-width: 1000px){

    .news-case__inner{
        font-size: 13px;
    }
}

@media (max-width: 840px){

    .news-case__head{
        font-size: 3em
    }

    .news-case__inner{
        font-size: 16px;
    }
    .news-case__blocks{
        flex-direction: column;
        gap: 32px;
    }


    .news-case__right-part{
        height: 730px;
        flex: none;
    }
}


@media (max-width: 640px){

    .news-case{
        padding: 0 8px;
    }


    .news-case__block-4,
    .news-case__block-3{
        height: calc((100vw - 72px) / 2);
    }
    
    .news-case__block-1{
        height: calc(100vw - 40px);
    }

    .news-case__block-2{
        height: calc((100vw - 40px) / 2);
        flex: none;
    }

    .news-case__right-part{
        height: calc((100vw - 72px) + 30px);
    }
}

@media (max-width: 560px){

    .news-case__inner{
        font-size: 12px;
    }

    .news-case__blocks{
        gap: 10px;
    }

    .news-case__text-block{
        padding: 20px;
    }

    .news-case__head{
        font-size: 2.5em
    }

    
}


@media (max-width: 560px){

    .news-case__head{
        font-size: 3em;
    }

    .news-case__inner{
        font-size: 10px;
    }
}

@media screen and (max-width: 320px){
    
    .news-case__head{
        margin: 40px 0;
    }

}


/* -------------------------------------------------------- */



.news__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    margin-bottom: 170px;
}

.news__head{
    font-size: 4em;
    text-align: center;
    margin: 168px 0 104px 0;
}

.newsSwiper {
    height: 760px;
    margin-bottom: 100px;
    /*padding-right:calc(100% - 320px);*/

}

.news__swiper-slide {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #d9dbdd;
    border-radius: 0 0 32px 0px;
    width: 320px;
    justify-content: start;
    gap: 40px;
}


.news__slide-image {
    width:100%;
    max-width:100%;
    object-fit: contain;
}


.news__slide-text{
    font-size: 1.6em;
}

.news__swiper-navigation{
    display: flex;
    justify-content: center;
    gap: 85px;
    font-size: 16px;
    font-weight: 500;
}

.news__navigation-arrow{
    cursor: pointer;
}



/* ------------------------------------------- */

.service__inner{
    font-weight: bold;
    width: 100%;
    height: 285px;
    border-radius: 32px;
    background: url("../assets/service.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 65px;
    padding: 64px;
}

@media screen and (max-width: 1376px) {
    .service{
        padding: 20px;
    }
}

@media screen and (max-width: 1120px) {
    .service__inner{
        font-size: 41px;
    }
}

@media screen and (max-width: 620px) {

    .service{
        padding: 0 8px;
    }

    .service__inner{
        font-size: 32px;
        padding: 24px;
    }
}

@media screen and (max-width: 420px) {
    .service__inner{
        font-size: 26px;
        padding: 24px;
    }
}


/* ------------------------------------------------- */



.case__inner{
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    margin-bottom: 170px;
}

.case__head{
    font-size: 4em;
    text-align: center;
    margin: 168px 0 104px 0;
}

.caseSwiper {
    height: 760px;
    margin-bottom: 100px;
    /*padding-right:calc(100% - 320px);*/

}

.case__swiper-slide {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #d9dbdd;
    border-radius: 0 0 32px 0px;
    width: 320px;
    justify-content: start;
    gap: 40px;
}


.case__slide-image {
    width:100%;
    max-width:100%;
    object-fit: contain;
}


.case__slide-text{
    font-size: 1.6em;
}

.case__swiper-navigation{
    display: flex;
    justify-content: center;
    gap: 85px;
    font-size: 16px;
    font-weight: 500;
}

.case__navigation-arrow{
    cursor: pointer;
}





@media (max-width: 1024px){

    .news__inner,
    .case__inner{
        font-size: 14px;
    }

    .swiper-slide{
        width: 300px;
    }

    .swiper{
        height: 730px;
    }
}

@media (max-width: 768px){

    .news__head,
    .case__head{
        font-size: 3.5em;
        margin: 100px 0 50px 0;
    }

    .news__inner,
    .case__inner{
        margin-bottom: 110px;
        font-size: 14px;
    }
    .swiper-slide{
        width: 284px;
        font-weight: 500;
    }

    .swiper{
        height: 690px;
    }


}

@media (max-width: 450px){

    .news__head,
    .case__head{
        margin-top: 64px;
        margin-bottom: 30px;
        font-size: 3em;
    }

    .news__inner,
    .case__inner{
        font-size: 12px;
        margin-bottom: 70px;
    }

    .swiper-slide{
        width: 240px;
        gap: 20px;
    }

    .swiper{
        height: 580px;
    }

    .news__swiper-navigation,
    .case__swiper-navigation{
        gap: 30px;
    }
}

/* --------------------------------- */

.diagnostic__inner{
    height: 226px;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
    color: white;
    margin-bottom: 168px;
    border-radius: 32px;
    background: url('../assets/diagnostic.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.diagnostic__buttons{
    display: flex;
    width: 593px;
    height: 80px;
    gap: 32px;
    /* justify-content: space-between; */
}

.diagnostic__btn{
    width: 289px;
    height: inherit;
    border: 2px solid white;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 500;
    z-index: 1;
}

.diagnostic__btn:hover{
    cursor: pointer;
}

.diagnistic__btn_white{
    color: black;
    background-color: white;
}

.diagnostic__opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    border-radius: 32px;
    opacity: .5;
    z-index: 0;
    
}

.diagnostic__text{
    z-index: 1;
    font-size: 2.5em;
}

@media screen and (max-width: 1376px){
    .diagnostic{
        padding: 0 20px;
    }

}

@media screen and (max-width: 1200px) {
    .diagnostic__inner{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 32px;
        height: 290px;
    }

    .diagnostic__btn{
        width: 252px;
    }

    .diagnostic__buttons{
        margin: 0 auto;
        gap: 20px;
        /* width: 100%; */
    }
}

@media screen and (max-width: 640px) {

    .diagnostic{
        padding: 0 8px;
    }

    .diagnostic__inner{
        height: 310px;
        margin-bottom: 106px;
        padding: 0 16px;
    }

    .diagnostic__text{
        display: flex;
        align-items: center;
        text-align: center;
        flex: 1;
        font-size: 1.6em;
    }

    .diagnostic__buttons{
        flex: 1;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .diagnostic__btn{
        width: 272px;
        height: 56px;
        font-size: 1em
    }
}

@media screen and (max-width: 390px) {
    
    .diagnostic__inner{
        margin-bottom: 64px;
    }
}

/* ------------------------------------ */
.mab-block__title{
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 64px;
}


.map-block__head{
    font-weight: bold;
    font-size: 65px;
}

.map-block__addresses{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.map-block__addresses p{
    font-weight: 500;
    font-size: 1em;
    border-bottom: 2px dotted black;
}

.addresses{
    display: flex;
    gap: 40px;
}

.map-block__card{
    width: 100%;
    height: 650px;
    margin: 64px 0;
    display: flex;
}

.map-block__map{
    height: 100%;
    flex: 3;
}

.map-block iframe{
    width: 100%;
    height: 100%;
}

.map-block__info{
    flex: 1;
    padding-left: 32px;
}

.map-block__info{
    display: flex;
    flex-direction: column;
}

.map-block__choices{
    height: 140px;
    padding-bottom: 24px;
    border-bottom: 1px solid #BCCADC;
    font-weight: bold;
    font-size: 1.6em
}

.map-block__choice{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-block__under{
    display: flex;
    gap: 17.5px;
    align-items: center;
    margin: 10px 0;
}

.map-block__under-list{
    padding: 15px 0;
}

.map-block__phone-and-time{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.map-block__phone-list{
    display: flex;
    align-items: center;
    height: 59px;
    gap: 20px;
}

.map-block__phone-block{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map-block__time-list{
    display: flex;
    align-items: center;
    height: 59px;
    gap: 20px;
}

.map-block__time-block{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-block__pay-block{
    align-items: center;
    display: flex;
    gap: 21px;
    margin-top: 32px;
}

.map-block__pay-list{
    display: flex;
    gap: 32px;
    align-items: center;
}

.map-block__buttons{
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.map-block__btn{
    width: 100%;
    height: 56px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #151E27;
}

.map-block__btn_dark{
    background-color: #151E27;
    color: white
}

.map-block__choice-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1376px){
    .map-block{
        padding: 20px;
    }
}
@media screen and (max-width: 1075px){
    .map-block__map{
        flex: 5;
    }
    .map-block__info{
        flex: 2;
    }
}
@media screen and (max-width: 950px){

    .map-block__info{
        padding: 0;
    }

    .map-block__card{
        flex-direction: column-reverse;
        height:  auto;
        gap: 40px;
    }
    
    .map-block__phone-and-time{
        flex-direction: row;
        gap: 120px;
    }

    .map-block__buttons{
        flex-direction: row-reverse;
    }

    .map-block__head{
        font-size: 41px;
    }

    .map-block__choice{
        justify-content: start;
        gap: 100px;
        align-items: center;
    }

    .long__choice{
        gap: 32px;    
    }

    .map-block__map iframe{
        height: 650px;
    }
}

@media screen and (max-width: 590px){

    .map-block__phone-and-time{
        flex-direction: column;
        gap: 25px;
    }

    .map-block__buttons{
        flex-direction: column-reverse ;
    }

    .map-block__head{
        font-size: 41px;
    }

    .addresses{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .map-block__addresses{
        margin-top: 16px;
    }
}

@media screen and (max-width: 490px){
    .map-block{
        font-size: 12px;
    }

    .map-block__head{
        font-size: 26px;
    }

    .addresses{
        gap: 8px;
    }
 
    .map-block__card{
        margin-top: 40px;
        font-size: 16px;
    }
}


@media screen and (max-width: 390px) {
    .map-block{
        font-size: 10px;
    }

    .map-block__card{
        font-size: 16px;
    }
}


/* ----------------------------- */

.footer{
    margin-top: 130px;
    background-color: #151E27;
    color: white;
    font-size: 16px;
}

.footer__inner{
    padding: 92px 0 18px 0;
}

.footer__container{
    display: flex;
    flex-wrap: wrap;

}

.footer__icon-box{
    width: 20%;
}

.footer__links{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
}

.footer__phones{
    margin-top: 115px;
    width: 100%;
    height: 32px;
    display: flex;
}

.footer__address{
    font-weight: bold;
    font-size: 1.6em;
    margin:  50px 0 17px 0;
}

.footer__time{
    font-weight: 500;
    font-size: 1em;
}

.footer__links{
    padding-top: 15px;
}

.footer__list-head{
    margin-bottom: 47px;
    font-weight: bold;
    font-size: 1.6em;
}

.footer__list li{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 17px;
    text-decoration: none;
    list-style: none;
}

.footer__phones-ico{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer__phones-ico:hover{
    cursor: pointer;
}

.footer__phones-icons{
    display: flex;
    gap: 35px;
    width: 20%;
}

.footer__phones-list{
    padding-left: 130px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}



.footer__description{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    margin-top: 120px;
    align-items: center;
}

.footer__description-list{
    display: flex;
    gap: 35px;
    align-items: center;
}

@media screen and (max-width: 1376px) {
    .footer{
        padding: 0 20px;
    }
}

@media screen and (max-width: 1170px) {
    .footer__icon-box{
        order: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .footer__address{
        margin: 0;
    }

    .footer__links{
        order: 3;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    .footer__phones{
        order: 2;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 850px) {
    .footer{
        margin-top: 70px;
    }
    
    .footer__phones{
        flex-direction: column;
        width: 50%;
        gap: 50px;
        margin: 0;
    }

    .footer__phones-list{
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.6em;
        font-weight: bold;
        gap: 50px;
        width: 100%;
        padding: 0;
        order: 1;
    }

    .footer__phones-icons{
        width: 100%;
        order: 2;
        padding: 0;
    }

    .footer__icon-box{
        flex-direction: column;
        width: 50%;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__links{
        margin-top: 100px;
    }

    .footer__list{
        margin-top: 64px;
    }
}

@media screen and (max-width: 550px){

    .footer{
        margin-top: 0;
    }

    .footer__links{
        overflow: auto;
        flex-wrap: nowrap;
        gap: 80px;
        white-space: nowrap;
        width: 100vw;
        margin-top: 25px;
    }

    .footer__icon-box{
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .footer__phones{
        margin-top: 65px;
        width: 100%;
        height: 230px;
        align-items: center;
    }

    .footer__phones-list {
        align-items: center;
        gap: 25px;
    }

    .footer__phones-icons{
        justify-content: center;
    }

    .footer__description{
        flex-direction: column-reverse;
        gap: 32px;
    }

    .footer__description-list{
        width: 100%;
        justify-content: space-between;
        gap: normal;
    }
}
